# Binary / doc files: do NOT textconv (docx2txt not installed -> breaks gitleaks/git diff)
*.doc binary
*.docx binary
*.pdf binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary
*.zip binary
*.rar binary
*.7z binary
*.tar binary
*.gz binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.svg binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.mp3 binary
*.mp4 binary
*.wav binary
*.ogg binary
*.mov binary
*.avi binary
*.exe binary
*.dll binary
*.pdb binary
